{% extends "layout.html" %}

{% block main %}

    <body class="loginbody">
        <h1>Log In</h1>
        <form action="/login" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" type="text" autofocus id="username" name="username" placeholder="username">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" type="password" autofocus id="password" name="password" placeholder="password">
            </div>

            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </body>

{% endblock %}